{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock style %}

{% block title %}Coupon System{% endblock title %}

{% block content %}
<div class="row">

{% if user.profile.role != "MR" %}
<div class="col-md-6">
  <div class="jumbotron same-height">
    <h1 class="display-4 jumbo-header">Treasurer</h1>
    <p class="lead">I am a booth treasurer. Login to register coupon spending at booth.</p>
    <hr class="my-4">
      <a class="btn btn-success btn-lg fill-jumbotron" href="{% url 'treasurer' %}" role="button">Input coupons</a>
  </div>
</div>
{% endif %}

{% if user.profile.role != "TR" %}
<div class="col-md-6">
  <div class="jumbotron same-height">
    <h1 class="display-4 jumbo-header">Manager</h1>
    <p class="lead">I am a coupon manager. Login to monitor coupon spending and status.</p>
    <hr class="my-4">
      <a class="btn btn-warning btn-lg fill-jumbotron" href="{% url 'manager' %}" role="button">Manage Coupons</a>
  </div>
</div>
{% endif %}
</div>

<!-- TODO: Implement sortable table using django-tables-2 -->
{% if user.is_authenticated %}
<ul>
  {% for coupon in all_coupons_list %}
  <li>{{ coupon.coupon_id }} is {{ coupon.active }}</li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}