body {
    margin-top: 55px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #dddddd;
    text-align: center;
}

.nav-item a {
    color: #ffffff !important;
}

@media (max-width: 768px) {
    body {
      margin-top: 40px;
    }
}